In [101]:
import pandas as pd

In [102]:
df=pd.read_csv('5season.csv')
df = df.drop(['Unnamed: 0'],axis=1)
df.tail()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
1895,Liverpool,Wolves,2,0,H,1,0,H,13,7,5,2,3,11,4,1,0,2,0,0
1896,Man United,Cardiff,0,2,A,0,1,A,26,13,10,4,9,6,11,2,3,3,0,0
1897,Southampton,Huddersfield,1,1,D,1,0,H,10,10,3,3,8,6,4,3,0,1,0,0
1898,Tottenham,Everton,2,2,D,1,0,H,11,17,3,9,10,13,7,4,0,2,0,0
1899,Watford,West Ham,1,4,A,0,2,A,17,16,8,9,10,10,7,2,1,0,1,0

In [103]:
matches = df.shape[0]
avg_home_scored = df.FTHG.sum() / matches
avg_away_scored = df.FTAG.sum() / matches
avg_home_conceded = avg_away_scored
avg_away_conceded = avg_home_scored

print(f"Total number of matches: {matches}")
print(f"Average number of goals at home: {avg_home_scored}")
print(f"Average number of goals away: {avg_away_scored}")
print(f"Average number of goals conceded at home: {avg_home_conceded}")
print(f"Average number of goals conceded away: {avg_away_conceded}")

Total number of matches: 1900
Average number of goals at home: 1.5326315789473683
Average number of goals away: 1.1805263157894736
Average number of goals conceded at home: 1.1805263157894736
Average number of goals conceded away: 1.5326315789473683

In [104]:
table = pd.DataFrame(columns=('Team','HAS','AAS','HDS','ADS','HGS','AGS','HGC','AGC'))

In [105]:
home= df.groupby('HomeTeam') 
away= df.groupby('AwayTeam')

In [106]:
table.Team = home.HomeTeam.first().values

table.HGS = home.FTHG.sum().values
table.HGC = home.FTAG.sum().values



table.AGS =away.FTAG.sum().values
table.AGC = away.FTHG.sum().values


#19 Home matches for each team each season and 16 seasons therefore 304 home matches and 304 away matches
table.HAS = (table.HGS / home.HomeTeam.count().values) / avg_home_scored
table.AAS = (table.AGS / away.AwayTeam.count().values) / avg_away_scored
table.HDS = (table.HGC / home.HomeTeam.count().values) / avg_home_conceded
table.ADS = (table.AGC / away.AwayTeam.count().values) / avg_away_conceded

In [107]:
table

              Team       HAS       AAS       HDS       ADS  HGS  AGS  HGC  AGC
0          Arsenal  1.421703  1.364244  0.686580  0.968407  207  153   77  141
1      Aston Villa  0.549451  0.579581  1.337494  1.253434   32   26   60   73
2      Bournemouth  0.978709  0.969683  1.315203  1.262019  114   87  118  147
3         Brighton  0.738324  0.579581  1.181453  1.047390   43   26   53   61
4          Burnley  0.686813  0.757914  1.003121  1.073146   80   68   90  125
5          Cardiff  0.721154  0.579581  1.694160  1.064560   21   13   38   31
6          Chelsea  1.318681  1.337494  0.748997  0.762363  192  150   84  111
7   Crystal Palace  0.769231  1.069996  1.114579  1.016484  112  120  125  148
8          Everton  1.112637  0.936246  0.980829  0.982143  162  105  110  143
9           Fulham  0.755495  0.534998  1.604993  1.545330   22   12   36   45
10    Huddersfield  0.446429  0.534998  1.248328  1.339286   26   24   56   78
11            Hull  0.807005  0.512706  1.315203  1.236264   47   23   59   72
12       Leicester  0.982143  1.123495  0.954079  1.064560  143  126  107  155
13       Liverpool  1.428571  1.408827  0.713330  0.824176  208  158   80  120
14        Man City  1.689560  1.685243  0.695497  0.618132  246  189   78   90
15      Man United  1.133242  1.185912  0.624164  0.776099  165  133   70  113
16   Middlesbrough  0.583791  0.445831  1.025412  1.030220   17   10   23   30
17       Newcastle  0.884272  0.691039  1.036558  1.116071  103   62   93  130
18         Norwich  0.892857  0.579581  1.337494  1.270604   26   13   30   37
19             QPR  0.789835  0.847080  1.069996  1.682692   23   19   24   49
20     Southampton  0.961538  0.855996  0.998663  0.899725  140   96  112  131
21           Stoke  0.841346  0.746768  1.114579  1.064560   98   67  100  124
22      Sunderland  0.629579  0.787636  1.203745  1.179029   55   53   81  103
23         Swansea  0.781250  0.780205  1.114579  1.090316   91   70  100  127
24       Tottenham  1.284341  1.489077  0.713330  0.748626  187  167   80  109
25         Watford  0.841346  0.869371  1.192599  1.150412   98   78  107  134
26       West Brom  0.789835  0.601872  1.148016  0.884272   92   54  103  103
27        West Ham  0.920330  1.087829  1.141329  1.078297  134  122  128  157
28          Wolves  0.961538  0.847080  0.936246  0.858516   28   19   21   25

In [108]:
team_group=[]
h2h_hw={}
h2h_aw={}
drawn={}

for index,row in df.iterrows():
    x=row.HomeTeam
    y=row.AwayTeam
    team_pair=x+","+y
    
    def checking():
        a,b=team_pair.split(',')
        team_pair2=b+","+a
        if team_pair in team_group:
            return team_pair
        elif team_pair2 in team_group:
            return  team_pair2
        return -1
       
  
        
    if checking() in team_group:
        
        home,away=checking().split(',')
        
        if row.FTR == 'H':
            if row.HomeTeam == home:
                h2h_hw[checking()] = h2h_hw[checking()]+1
            else:
                h2h_aw[checking()] = h2h_aw[checking()]+1
                
        if row.FTR == 'A':
            if row.AwayTeam == away:
                h2h_aw[checking()] = h2h_aw[checking()]+1
            else:
                h2h_hw[checking()] = h2h_hw[checking()]+1
                
        if row.FTR =='D':
            drawn[checking()]=drawn[checking()]+1
    else:
        
        team_group.append(team_pair)
        home,away=team_pair.split(',')
        if row.FTR == 'H':
            if row.HomeTeam == home:
                h2h_hw[checking()]=1
                h2h_aw[checking()]=0
            else:
                h2h_aw[checking()]=1
                h2h_hw[checking()]=0
            drawn[checking()]=0
            
        if row.FTR == 'A':
            if row.AwayTeam == away:
                h2h_aw[checking()]=1
                h2h_hw[checking()]=0
            else:
                h2h_hw[checking()]=1
                h2h_aw[checking()]=0
            drawn[checking()]=0
            
        if row.FTR =='D':
            h2h_hw[checking()]=0
            h2h_aw[checking()]=0
            drawn[checking()]=1
        
        

# print(h2h_hw)

Team=[]
H2H_HW=[]
H2H_AW=[]
Drawn=[]
for i,j in h2h_hw.items():
        a,b=i.split(',')
        k=f"{a},{b}"
        Team.append(k)
        H2H_HW.append(j)
    


for i,j in h2h_aw.items():
        H2H_AW.append(j)
for i,j in drawn.items():
        Drawn.append(j)


def c(Team,H2H_HW,H2H_AW,Drawn):
    return [list(c) for c in zip(Team,H2H_HW,H2H_AW,Drawn)]

features = c(Team,H2H_HW,H2H_AW,Drawn)

In [109]:
features

[['Arsenal,Crystal Palace', 6, 2, 2],
 ['Leicester,Everton', 4, 4, 2],
 ['Man United,Swansea', 4, 3, 1],
 ['QPR,Hull', 0, 2, 0],
 ['Stoke,Aston Villa', 3, 1, 0],
 ['West Brom,Sunderland', 2, 0, 4],
 ['West Ham,Tottenham', 3, 5, 2],
 ['Liverpool,Southampton', 6, 1, 3],
 ['Newcastle,Man City', 1, 6, 1],
 ['Burnley,Chelsea', 1, 4, 3],
 ['Aston Villa,Newcastle', 0, 1, 3],
 ['Chelsea,Leicester', 5, 2, 3],
 ['Crystal Palace,West Ham', 1, 5, 4],
 ['Everton,Arsenal', 2, 7, 1],
 ['Southampton,West Brom', 4, 2, 2],
 ['Swansea,Burnley', 5, 1, 0],
 ['Hull,Stoke', 0, 3, 1],
 ['Sunderland,Man United', 1, 4, 1],
 ['Tottenham,QPR', 2, 0, 0],
 ['Man City,Liverpool', 3, 5, 2],
 ['Burnley,Man United', 0, 4, 4],
 ['Everton,Chelsea', 2, 5, 3],
 ['Man City,Stoke', 5, 2, 1],
 ['Newcastle,Crystal Palace', 2, 2, 4],
 ['QPR,Sunderland', 2, 0, 0],
 ['Swansea,West Brom', 4, 2, 2],
 ['West Ham,Southampton', 5, 4, 1],
 ['Aston Villa,Hull', 1, 1, 0],
 ['Leicester,Arsenal', 2, 6, 2],
 ['Tottenham,Liverpool', 1, 5, 4],
 ['Arsenal,Man City', 2, 5, 3],
 ['Chelsea,Swansea', 5, 1, 2],
 ['Crystal Palace,Burnley', 4, 3, 1],
 ['Liverpool,Aston Villa', 3, 1, 0],
 ['Southampton,Newcastle', 3, 2, 3],
 ['Stoke,Leicester', 1, 3, 4],
 ['Sunderland,Tottenham', 0, 4, 2],
 ['West Brom,Everton', 1, 4, 3],
 ['Man United,QPR', 2, 0, 0],
 ['Hull,West Ham', 1, 2, 1],
 ['Aston Villa,Arsenal', 0, 4, 0],
 ['Burnley,Sunderland', 1, 1, 2],
 ['Newcastle,Hull', 1, 0, 1],
 ['QPR,Stoke', 0, 1, 1],
 ['Swansea,Southampton', 2, 5, 1],
 ['West Ham,Liverpool', 3, 5, 2],
 ['Everton,Crystal Palace', 4, 1, 5],
 ['Leicester,Man United', 1, 6, 3],
 ['Man City,Chelsea', 5, 3, 2],
 ['Tottenham,West Brom', 2, 2, 4],
 ['Arsenal,Tottenham', 2, 3, 5],
 ['Chelsea,Aston Villa', 4, 0, 0],
 ['Crystal Palace,Leicester', 6, 3, 1],
 ['Hull,Man City', 0, 3, 1],
 ['Liverpool,Everton', 4, 0, 6],
 ['Man United,West Ham', 4, 2, 4],
 ['Southampton,QPR', 2, 0, 0],
 ['Sunderland,Swansea', 1, 2, 3],
 ['West Brom,Burnley', 3, 1, 2],
 ['Stoke,Newcastle', 2, 2, 2],
 ['Aston Villa,Man City', 0, 3, 1],
 ['Hull,Crystal Palace', 2, 1, 1],
 ['Leicester,Burnley', 4, 2, 2],
 ['Liverpool,West Brom', 3, 0, 5],
 ['Sunderland,Stoke', 2, 2, 2],
 ['Swansea,Newcastle', 2, 2, 2],
 ['Chelsea,Arsenal', 5, 2, 3],
 ['Man United,Everton', 6, 2, 2],
 ['Tottenham,Southampton', 6, 2, 2],
 ['West Ham,QPR', 1, 0, 1],
 ['Arsenal,Hull', 3, 0, 1],
 ['Burnley,West Ham', 2, 5, 1],
 ['Crystal Palace,Chelsea', 3, 7, 0],
 ['Everton,Aston Villa', 3, 1, 0],
 ['Man City,Tottenham', 6, 3, 1],
 ['Newcastle,Leicester', 3, 5, 0],
 ['Southampton,Sunderland', 3, 1, 2],
 ['QPR,Liverpool', 0, 2, 0],
 ['Stoke,Swansea', 5, 2, 1],
 ['West Brom,Man United', 3, 3, 2],
 ['Liverpool,Hull', 1, 2, 1],
 ['Southampton,Stoke', 2, 4, 2],
 ['Sunderland,Arsenal', 0, 4, 2],
 ['Swansea,Leicester', 2, 5, 1],
 ['West Brom,Crystal Palace', 3, 3, 2],
 ['West Ham,Man City', 2, 7, 1],
 ['Burnley,Everton', 3, 5, 0],
 ['Man United,Chelsea', 2, 3, 5],
 ['Tottenham,Newcastle', 5, 3, 0],
 ['QPR,Aston Villa', 1, 0, 1],
 ['Arsenal,Burnley', 8, 0, 0],
 ['Chelsea,QPR', 2, 0, 0],
 ['Everton,Swansea', 1, 2, 5],
 ['Hull,Southampton', 1, 2, 1],
 ['Leicester,West Brom', 4, 2, 2],
 ['Newcastle,Liverpool', 2, 4, 2],
 ['Stoke,West Ham', 1, 1, 6],
 ['Aston Villa,Tottenham', 1, 3, 0],
 ['Man City,Man United', 5, 3, 2],
 ['Crystal Palace,Sunderland', 2, 3, 1],
 ['Burnley,Hull', 2, 0, 2],
 ['Liverpool,Chelsea', 3, 2, 5],
 ['Man United,Crystal Palace', 8, 0, 2],
 ['QPR,Man City', 0, 1, 1],
 ['Southampton,Leicester', 3, 4, 3],
 ['West Ham,Aston Villa', 1, 1, 2],
 ['Sunderland,Everton', 2, 3, 1],
 ['Swansea,Arsenal', 4, 4, 0],
 ['Tottenham,Stoke', 5, 2, 1],
 ['West Brom,Newcastle', 2, 2, 2],
 ['Arsenal,Man United', 3, 4, 3],
 ['Chelsea,West Brom', 6, 1, 1],
 ['Everton,West Ham', 5, 3, 2],
 ['Leicester,Sunderland', 3, 1, 2],
 ['Man City,Swansea', 7, 0, 1],
 ['Newcastle,QPR', 1, 1, 0],
 ['Stoke,Burnley', 1, 3, 2],
 ['Crystal Palace,Liverpool', 4, 6, 0],
 ['Hull,Tottenham', 0, 4, 0],
 ['Aston Villa,Southampton', 0, 2, 2],
 ['Burnley,Aston Villa', 1, 0, 1],
 ['Liverpool,Stoke', 6, 1, 1],
 ['Man United,Hull', 2, 0, 2],
 ['QPR,Leicester', 1, 1, 0],
 ['Sunderland,Chelsea', 1, 4, 1],
 ['Swansea,Crystal Palace', 3, 1, 4],
 ['West Brom,Arsenal', 2, 5, 1],
 ['West Ham,Newcastle', 4, 4, 0],
 ['Southampton,Man City', 1, 8, 1],
 ['Tottenham,Everton', 6, 0, 4],
 ['Burnley,Newcastle', 1, 2, 3],
 ['Crystal Palace,Aston Villa', 1, 2, 1],
 ['Leicester,Liverpool', 2, 6, 2],
 ['Man United,Stoke', 3, 1, 4],
 ['Swansea,QPR', 1, 0, 1],
 ['West Brom,West Ham', 1, 3, 4],
 ['Arsenal,Southampton', 5, 3, 2],
 ['Chelsea,Tottenham', 4, 4, 2],
 ['Everton,Hull', 1, 1, 2],
 ['Sunderland,Man City', 0, 6, 0],
 ['Hull,West Brom', 0, 2, 2],
 ['Liverpool,Sunderland', 3, 0, 3],
 ['Man City,Everton', 5, 1, 4],
 ['Newcastle,Chelsea', 2, 5, 1],
 ['QPR,Burnley', 1, 1, 0],
 ['Stoke,Arsenal', 2, 5, 1],
 ['Tottenham,Crystal Palace', 8, 1, 1],
 ['Aston Villa,Leicester', 1, 2, 1],
 ['West Ham,Swansea', 4, 2, 2],
 ['Southampton,Man United', 2, 5, 3],
 ['Arsenal,Newcastle', 7, 1, 0],
 ['Burnley,Southampton', 3, 2, 3],
 ['Chelsea,Hull', 4, 0, 0],
 ['Crystal Palace,Stoke', 6, 1, 1],
 ['Leicester,Man City', 3, 6, 1],
 ['Sunderland,West Ham', 0, 3, 3],
 ['West Brom,Aston Villa', 2, 1, 1],
 ['Man United,Liverpool', 5, 1, 4],
 ['Swansea,Tottenham', 0, 6, 2],
 ['Everton,QPR', 2, 0, 0],
 ['Aston Villa,Man United', 0, 3, 1],
 ['Hull,Swansea', 2, 2, 0],
 ['Man City,Crystal Palace', 7, 2, 1],
 ['QPR,West Brom', 2, 0, 0],
 ['Southampton,Everton', 4, 4, 2],
 ['Tottenham,Burnley', 5, 1, 2],
 ['West Ham,Leicester', 2, 4, 4],
 ['Liverpool,Arsenal', 4, 1, 5],
 ['Newcastle,Sunderland', 0, 3, 1],
 ['Stoke,Chelsea', 1, 6, 1],
 ['Arsenal,QPR', 2, 0, 0],
 ['Burnley,Liverpool', 1, 6, 1],
 ['Chelsea,West Ham', 5, 2, 3],
 ['Crystal Palace,Southampton', 3, 6, 1],
 ['Everton,Stoke', 4, 3, 1],
 ['Leicester,Tottenham', 2, 6, 2],
 ['Man United,Newcastle', 5, 1, 2],
 ['Sunderland,Hull', 2, 1, 1],
 ['Swansea,Aston Villa', 4, 0, 0],
 ['West Brom,Man City', 0, 8, 0],
 ['Aston Villa,Sunderland', 1, 1, 2],
 ['Hull,Leicester', 1, 2, 1],
 ['Man City,Burnley', 5, 1, 2],
 ['Newcastle,Everton', 2, 5, 1],
 ['QPR,Crystal Palace', 0, 1, 1],
 ['Southampton,Chelsea', 1, 6, 3],
 ['Stoke,West Brom', 2, 4, 2],
 ['Tottenham,Man United', 4, 5, 1],
 ['West Ham,Arsenal', 2, 6, 2],
 ['Liverpool,Swansea', 5, 3, 0],
 ['Bournemouth,Aston Villa', 1, 1, 0],
 ['Everton,Watford', 2, 3, 3],
 ['Norwich,Crystal Palace', 0, 2, 0],
 ['Sunderland,Norwich', 1, 1, 0],
 ['Watford,West Brom', 3, 1, 2],
 ['Liverpool,Bournemouth', 6, 1, 1],
 ['Norwich,Stoke', 0, 1, 1],
 ['West Ham,Bournemouth', 2, 4, 2],
 ['Watford,Southampton', 1, 2, 5],
 ['Bournemouth,Leicester', 2, 1, 5],
 ['Man City,Watford', 8, 0, 0],
 ['Southampton,Norwich', 1, 1, 0],
 ['Norwich,Bournemouth', 1, 1, 0],
 ['Watford,Swansea', 3, 2, 1],
 ['Bournemouth,Sunderland', 2, 1, 1],
 ['Newcastle,Watford', 1, 4, 1],
 ['Liverpool,Norwich', 1, 0, 1],
 ['Stoke,Bournemouth', 2, 3, 1],
 ['West Ham,Norwich', 0, 0, 2],
 ['Watford,Crystal Palace', 3, 3, 2],
 ['Bournemouth,Watford', 1, 1, 6],
 ['Norwich,Leicester', 0, 2, 0],
 ['Man City,Bournemouth', 8, 0, 0],
 ['Watford,Arsenal', 2, 6, 0],
 ['Newcastle,Norwich', 1, 1, 0],
 ['Norwich,West Brom', 1, 1, 0],
 ['Stoke,Watford', 4, 1, 1],
 ['Bournemouth,Tottenham', 1, 6, 1],
 ['Man City,Norwich', 1, 0, 1],
 ['Watford,West Ham', 4, 3, 1],
 ['Southampton,Bournemouth', 3, 1, 4],
 ['Bournemouth,Newcastle', 2, 2, 2],
 ['Leicester,Watford', 5, 3, 0],
 ['Norwich,Swansea', 1, 1, 0],
 ['Chelsea,Norwich', 2, 0, 0],
 ['Swansea,Bournemouth', 0, 4, 2],
 ['Watford,Man United', 1, 7, 0],
 ['Aston Villa,Watford', 0, 2, 0],
 ['Bournemouth,Everton', 2, 4, 2],
 ['Norwich,Arsenal', 0, 1, 1],
 ['Chelsea,Bournemouth', 5, 3, 0],
 ['Watford,Norwich', 1, 1, 0],
 ['Bournemouth,Man United', 1, 6, 1],
 ['Norwich,Everton', 0, 1, 1],
 ['Sunderland,Watford', 1, 2, 1],
 ['Man United,Norwich', 1, 1, 0],
 ['West Brom,Bournemouth', 2, 3, 1],
 ['Watford,Liverpool', 1, 6, 1],
 ['Bournemouth,Crystal Palace', 2, 2, 4],
 ['Chelsea,Watford', 5, 1, 2],
 ['Tottenham,Norwich', 2, 0, 0],
 ['Arsenal,Bournemouth', 6, 1, 1],
 ['Norwich,Aston Villa', 1, 1, 0],
 ['Watford,Tottenham', 1, 6, 1],
 ['Middlesbrough,Stoke', 0, 1, 1],
 ['Sunderland,Middlesbrough', 0, 2, 0],
 ['West Brom,Middlesbrough', 0, 0, 2],
 ['Middlesbrough,Crystal Palace', 0, 2, 0],
 ['Everton,Middlesbrough', 1, 0, 1],
 ['Middlesbrough,Tottenham', 0, 2, 0],
 ['Burnley,Watford', 3, 2, 1],
 ['West Ham,Middlesbrough', 1, 0, 1],
 ['Bournemouth,Hull', 1, 1, 0],
 ['Middlesbrough,Watford', 0, 1, 1],
 ['Arsenal,Middlesbrough', 1, 0, 1],
 ['Middlesbrough,Bournemouth', 1, 1, 0],
 ['Watford,Hull', 1, 1, 0],
 ['Man City,Middlesbrough', 0, 0, 2],
 ['Middlesbrough,Chelsea', 0, 2, 0],
 ['Leicester,Middlesbrough', 0, 0, 2],
 ['Middlesbrough,Hull', 1, 1, 0],
 ['Burnley,Bournemouth', 4, 2, 0],
 ['Southampton,Middlesbrough', 2, 0, 0],
 ['Middlesbrough,Liverpool', 0, 2, 0],
 ['Middlesbrough,Swansea', 1, 0, 1],
 ['Burnley,Middlesbrough', 1, 0, 1],
 ['Man United,Middlesbrough', 2, 0, 0],
 ['Brighton,Man City', 0, 4, 0],
 ['Crystal Palace,Huddersfield', 3, 1, 0],
 ['Leicester,Brighton', 3, 0, 1],
 ['Huddersfield,Newcastle', 1, 3, 0],
 ['Huddersfield,Southampton', 0, 1, 3],
 ['Watford,Brighton', 1, 1, 2],
 ['Brighton,West Brom', 1, 1, 0],
 ['West Ham,Huddersfield', 3, 0, 1],
 ['Bournemouth,Brighton', 3, 0, 1],
 ['Huddersfield,Leicester', 0, 3, 1],
 ['Burnley,Huddersfield', 1, 0, 3],
 ['Brighton,Newcastle', 2, 0, 2],
 ['Huddersfield,Tottenham', 0, 4, 0],
 ['Arsenal,Brighton', 1, 1, 2],
 ['Swansea,Huddersfield', 1, 0, 1],
 ['Brighton,Everton', 1, 2, 1],
 ['West Ham,Brighton', 0, 3, 1],
 ['Huddersfield,Man United', 1, 2, 1],
 ['Liverpool,Huddersfield', 4, 0, 0],
 ['Brighton,Southampton', 0, 1, 3],
 ['Huddersfield,West Brom', 2, 0, 0],
 ['Swansea,Brighton', 0, 2, 0],
 ['Bournemouth,Huddersfield', 3, 1, 0],
 ['Brighton,Stoke', 0, 0, 2],
 ['Man United,Brighton', 2, 2, 0],
 ['Huddersfield,Man City', 0, 3, 1],
 ['Brighton,Crystal Palace', 2, 1, 1],
 ['Arsenal,Huddersfield', 4, 0, 0],
 ['Brighton,Liverpool', 0, 4, 0],
 ['Everton,Huddersfield', 3, 0, 1],
 ['Huddersfield,Brighton', 1, 2, 1],
 ['Huddersfield,Chelsea', 0, 3, 1],
 ['Tottenham,Brighton', 3, 0, 1],
 ['Brighton,Burnley', 0, 2, 2],
 ['Watford,Huddersfield', 2, 2, 0],
 ['Chelsea,Brighton', 4, 0, 0],
 ['Huddersfield,Stoke', 0, 1, 1],
 ['Bournemouth,Cardiff', 1, 1, 0],
 ['Fulham,Crystal Palace', 0, 2, 0],
 ['Wolves,Everton', 1, 0, 1],
 ['Cardiff,Newcastle', 0, 1, 1],
 ['Leicester,Wolves', 1, 1, 0],
 ['Tottenham,Fulham', 2, 0, 0],
 ['Huddersfield,Cardiff', 0, 0, 2],
 ['Wolves,Man City', 0, 1, 1],
 ['Fulham,Burnley', 1, 1, 0],
 ['Brighton,Fulham', 0, 1, 1],
 ['West Ham,Wolves', 0, 2, 0],
 ['Cardiff,Arsenal', 0, 2, 0],
 ['Chelsea,Cardiff', 2, 0, 0],
 ['Man City,Fulham', 2, 0, 0],
 ['Wolves,Burnley', 1, 1, 0],
 ['Cardiff,Man City', 0, 2, 0],
 ['Fulham,Watford', 0, 1, 1],
 ['Man United,Wolves', 0, 1, 1],
 ['Everton,Fulham', 1, 1, 0],
 ['Wolves,Southampton', 1, 1, 0],
 ['Cardiff,Burnley', 0, 2, 0],
 ['Crystal Palace,Wolves', 1, 1, 0],
 ['Tottenham,Cardiff', 2, 0, 0],
 ['Fulham,Arsenal', 0, 2, 0],
 ['Cardiff,Fulham', 1, 1, 0],
 ['Wolves,Watford', 1, 1, 0],
 ['Brighton,Wolves', 1, 0, 1],
 ['Fulham,Bournemouth', 1, 1, 0],
 ['Liverpool,Cardiff', 2, 0, 0],
 ['Cardiff,Leicester', 1, 1, 0],
 ['Wolves,Tottenham', 1, 1, 0],
 ['Huddersfield,Fulham', 1, 1, 0],
 ['Cardiff,Brighton', 2, 0, 0],
 ['Arsenal,Wolves', 0, 1, 1],
 ['Liverpool,Fulham', 2, 0, 0],
 ['Everton,Cardiff', 2, 0, 0],
 ['Fulham,Southampton', 1, 1, 0],
 ['Wolves,Huddersfield', 0, 2, 0],
 ['Cardiff,Wolves', 1, 1, 0],
 ['Chelsea,Fulham', 2, 0, 0],
 ['West Ham,Cardiff', 1, 1, 0],
 ['Fulham,Leicester', 0, 1, 1],
 ['Wolves,Chelsea', 1, 0, 1],
 ['Cardiff,Southampton', 2, 0, 0],
 ['Man United,Fulham', 2, 0, 0],
 ['Newcastle,Wolves', 0, 1, 1],
 ['Fulham,West Ham', 0, 2, 0],
 ['Watford,Cardiff', 2, 0, 0],
 ['Wolves,Bournemouth', 1, 0, 1],
 ['Wolves,Liverpool', 0, 2, 0],
 ['Cardiff,Man United', 1, 1, 0],
 ['Newcastle,Fulham', 1, 0, 1],
 ['Crystal Palace,Cardiff', 1, 0, 1],
 ['Fulham,Wolves', 0, 1, 1]]

In [110]:
h2h=pd.read_csv('five_season_soccer.csv')
home=h2h.Team
home_t=[]
away_t=[]
for i in home:
    h,a=i.split(',')
    
    home_t.append(h)
    away_t.append(a)
    

h2h['HomeTeam']=home_t
h2h['AwayTeam']=away_t
h2h
h2h=h2h.drop(['Team'],1)
h2h_csv=h2h
columns=['HomeTeam','AwayTeam','H2H_HW','H2H_AW','Drawn']
head_2=h2h_csv.reindex(columns=columns)
head_2
head_2.to_csv('five_season_soccer_clean.csv')

In [111]:

# home=df.HomeTeam[::-1]
# away=df.AwayTeam[::-1]
# flag=1899
# teams={}
# last_5={}
# last_5_str={}

# for r  in  df.FTR[::-1]:
   
#     if r == 'H':
        
#         if home[flag] in teams.keys():
#             if last_5[home[flag]] <5:
#                 teams[home[flag]]=teams[home[flag]]+3
#                 last_5[home[flag]]=last_5[home[flag]]+1
#                 last_5_str[home[flag]]=last_5_str[home[flag]]+'W'   
                                             
#         else:
#             teams[home[flag]]=3
#             last_5[home[flag]]=1
#             last_5_str[home[flag]]='W'
            
            
#         if away[flag] in teams.keys():
#             if last_5[away[flag]] <5:
#                 teams[away[flag]]=teams[away[flag]]+0
#                 last_5[away[flag]]=last_5[away[flag]]+1
#                 last_5_str[away[flag]]=last_5_str[away[flag]]+'L'
                
                             
#         else:
#             teams[away[flag]]=0
#             last_5[away[flag]]=1
#             last_5_str[away[flag]]='L'
            
          
            
            
        
            
#     if r == 'A':
#         if away[flag] in teams.keys():
#             if last_5[away[flag]] <5:
#                 teams[away[flag]]=teams[away[flag]]+3
#                 last_5[away[flag]]=last_5[away[flag]]+1
#                 last_5_str[away[flag]]=last_5_str[away[flag]]+'W'
                
                     
#         else:
#             teams[away[flag]]=3
#             last_5[away[flag]]=1
#             last_5_str[away[flag]]='W'
        
        
#         if home[flag] in teams.keys():
#             if last_5[home[flag]] <5:
#                 teams[home[flag]]=teams[home[flag]]+0
#                 last_5[home[flag]]=last_5[home[flag]]+1
#                 last_5_str[home[flag]]=last_5_str[home[flag]]+'L'
                                             
#         else:
#             teams[home[flag]]=0
#             last_5[home[flag]]=1
#             last_5_str[home[flag]]='L'
            
          
           
            
            
#     if r =='D':
#         if home[flag] in teams.keys():
            
#             if last_5[home[flag]] <5:
#                 teams[home[flag]]=teams[home[flag]]+1
#                 last_5[home[flag]]=last_5[home[flag]]+1
#                 last_5_str[home[flag]]=last_5_str[home[flag]]+r
            
         
#         else:
#             teams[home[flag]]=1
#             last_5[home[flag]]=1
#             last_5_str[home[flag]]=r
        
        
#         if away[flag] in teams.keys():
            
#             if last_5[away[flag]] <5:
#                 teams[away[flag]]=teams[away[flag]]+1
#                 last_5[away[flag]]=last_5[away[flag]]+1
#                 last_5_str[away[flag]]=last_5_str[away[flag]]+r
         
#         else:
#             teams[away[flag]]=1
#             last_5[away[flag]]=1
#             last_5_str[away[flag]]=r
            
#     flag=flag-1
    

     
# print(last_5)

In [134]:

home=df.HomeTeam[::-1]
away=df.AwayTeam[::-1]
HC=df.HC[::-1]
AC=df.AC[::-1]
HG=df.FTHG[::-1]
AG=df.FTAG[::-1]
HS=df.HS[::-1]
AS=df.AS[::-1]
HST=df.HST[::-1]
AST=df.AST[::-1]

flag=1899

teams={}
last_5={}
last_5_str={}
last_5_C={}
last_5_S={}
last_5_ST={}
last_5_G={}



for r  in  df.FTR[::-1]:
   
    if r == 'H':
        
        if home[flag] in teams.keys():
            if last_5[home[flag]] <5:
                teams[home[flag]]=teams[home[flag]]+3
                last_5[home[flag]]=last_5[home[flag]]+1
                last_5_str[home[flag]]=last_5_str[home[flag]]+'W'   
                
                last_5_C[home[flag]]=last_5_C[home[flag]]+HC[flag]
                last_5_S[home[flag]]=last_5_S[home[flag]]+HS[flag]
                last_5_ST[home[flag]]=last_5_ST[home[flag]]+HST[flag]
                last_5_G[home[flag]]=last_5_G[home[flag]]+HG[flag]
                                             
        else:
            teams[home[flag]]=3
            last_5[home[flag]]=1
            last_5_str[home[flag]]='W'
            
            last_5_C[home[flag]]=HC[flag]
            last_5_S[home[flag]]=HS[flag]
            last_5_ST[home[flag]]=HST[flag]
            last_5_G[home[flag]]=HG[flag]
            
            
            
        if away[flag] in teams.keys():
            if last_5[away[flag]] <5:
                teams[away[flag]]=teams[away[flag]]+0
                last_5[away[flag]]=last_5[away[flag]]+1
                last_5_str[away[flag]]=last_5_str[away[flag]]+'L'
                
                last_5_C[away[flag]]=last_5_C[away[flag]]+AC[flag]
                last_5_S[away[flag]]=last_5_S[away[flag]]+AS[flag]
                last_5_ST[away[flag]]=last_5_ST[away[flag]]+AST[flag]
                last_5_G[away[flag]]=last_5_G[away[flag]]+AG[flag]
                
                             
        else:
            teams[away[flag]]=0
            last_5[away[flag]]=1
            last_5_str[away[flag]]='L'
            
            
            last_5_C[away[flag]]=AC[flag]
            last_5_S[away[flag]]=AS[flag]
            last_5_ST[away[flag]]=AST[flag]
            last_5_G[away[flag]]=AG[flag]
            
          
            
            
        
            
    if r == 'A':
        if away[flag] in teams.keys():
            if last_5[away[flag]] <5:
                teams[away[flag]]=teams[away[flag]]+3
                last_5[away[flag]]=last_5[away[flag]]+1
                last_5_str[away[flag]]=last_5_str[away[flag]]+'W'
                
                last_5_C[away[flag]]=last_5_C[away[flag]]+AC[flag]
                last_5_S[away[flag]]=last_5_S[away[flag]]+AS[flag]
                last_5_ST[away[flag]]=last_5_ST[away[flag]]+AST[flag]
                last_5_G[away[flag]]=last_5_G[away[flag]]+AG[flag]
                
                     
        else:
            teams[away[flag]]=3
            last_5[away[flag]]=1
            last_5_str[away[flag]]='W'
            
              
            last_5_C[away[flag]]=AC[flag]
            last_5_S[away[flag]]=AS[flag]
            last_5_ST[away[flag]]=AST[flag]
            last_5_G[away[flag]]=AG[flag]
            
        
        
        if home[flag] in teams.keys():
            if last_5[home[flag]] <5:
                teams[home[flag]]=teams[home[flag]]+0
                last_5[home[flag]]=last_5[home[flag]]+1
                last_5_str[home[flag]]=last_5_str[home[flag]]+'L'
                
                last_5_C[home[flag]]=last_5_C[home[flag]]+HC[flag]
                last_5_S[home[flag]]=last_5_S[home[flag]]+HS[flag]
                last_5_ST[home[flag]]=last_5_ST[home[flag]]+HST[flag]
                last_5_G[home[flag]]=last_5_G[home[flag]]+HG[flag]
                                             
        else:
            teams[home[flag]]=0
            last_5[home[flag]]=1
            last_5_str[home[flag]]='L'
            
            last_5_C[home[flag]]=HC[flag]
            last_5_S[home[flag]]=HS[flag]
            last_5_ST[home[flag]]=HST[flag]
            last_5_G[home[flag]]=HG[flag]
            
          
           
            
            
    if r =='D':
        if home[flag] in teams.keys():
            
            if last_5[home[flag]] <5:
                teams[home[flag]]=teams[home[flag]]+1
                last_5[home[flag]]=last_5[home[flag]]+1
                last_5_str[home[flag]]=last_5_str[home[flag]]+r
                
                last_5_C[home[flag]]=last_5_C[home[flag]]+HC[flag]
                last_5_S[home[flag]]=last_5_S[home[flag]]+HS[flag]
                last_5_ST[home[flag]]=last_5_ST[home[flag]]+HST[flag]
                last_5_G[home[flag]]=last_5_G[home[flag]]+HG[flag]
            
         
        else:
            teams[home[flag]]=1
            last_5[home[flag]]=1
            last_5_str[home[flag]]=r
            
            last_5_C[home[flag]]=HC[flag]
            last_5_S[home[flag]]=HS[flag]
            last_5_ST[home[flag]]=HST[flag]
            last_5_G[home[flag]]=HG[flag]
            
        
        
        if away[flag] in teams.keys():
            
            if last_5[away[flag]] <5:
                teams[away[flag]]=teams[away[flag]]+1
                last_5[away[flag]]=last_5[away[flag]]+1
                last_5_str[away[flag]]=last_5_str[away[flag]]+r
                
                last_5_C[away[flag]]=last_5_C[away[flag]]+AC[flag]
                last_5_S[away[flag]]=last_5_S[away[flag]]+AS[flag]
                last_5_ST[away[flag]]=last_5_ST[away[flag]]+AST[flag]
                last_5_G[away[flag]]=last_5_G[away[flag]]+AG[flag]
         
        else:
            teams[away[flag]]=1
            last_5[away[flag]]=1
            last_5_str[away[flag]]=r
            
                
            last_5_C[away[flag]]=AC[flag]
            last_5_S[away[flag]]=AS[flag]
            last_5_ST[away[flag]]=AST[flag]
            last_5_G[away[flag]]=AG[flag]
            
    flag=flag-1
    

     
print(last_5_S)

{'West Ham': 78, 'Watford': 68, 'Tottenham': 75, 'Everton': 82, 'Southampton': 66, 'Huddersfield': 42, 'Cardiff': 61, 'Man United': 75, 'Liverpool': 77, 'Wolves': 70, 'Leicester': 63, 'Chelsea': 77, 'Newcastle': 62, 'Fulham': 59, 'Crystal Palace': 69, 'Bournemouth': 74, 'Arsenal': 66, 'Burnley': 41, 'Man City': 87, 'Brighton': 37, 'Stoke': 39, 'Swansea': 63, 'West Brom': 48, 'Middlesbrough': 45, 'Hull': 52, 'Sunderland': 55, 'Norwich': 67, 'Aston Villa': 37, 'QPR': 63}

In [135]:
teams

{'West Ham': 10,
 'Watford': 4,
 'Tottenham': 4,
 'Everton': 8,
 'Southampton': 3,
 'Huddersfield': 2,
 'Cardiff': 6,
 'Man United': 2,
 'Liverpool': 15,
 'Wolves': 10,
 'Leicester': 5,
 'Chelsea': 6,
 'Newcastle': 10,
 'Fulham': 9,
 'Crystal Palace': 10,
 'Bournemouth': 7,
 'Arsenal': 4,
 'Burnley': 4,
 'Man City': 15,
 'Brighton': 3,
 'Stoke': 6,
 'Swansea': 0,
 'West Brom': 10,
 'Middlesbrough': 4,
 'Hull': 4,
 'Sunderland': 3,
 'Norwich': 3,
 'Aston Villa': 1,
 'QPR': 4}

In [136]:
last_5_str

{'West Ham': 'WWWDL',
 'Watford': 'LLLDW',
 'Tottenham': 'DLLWL',
 'Everton': 'DWDWL',
 'Southampton': 'DLDDL',
 'Huddersfield': 'DDLLL',
 'Cardiff': 'WLLLW',
 'Man United': 'LDDLL',
 'Liverpool': 'WWWWW',
 'Wolves': 'LWWWD',
 'Leicester': 'DLWDL',
 'Chelsea': 'DWDDL',
 'Newcastle': 'WLDWW',
 'Fulham': 'LLWWW',
 'Crystal Palace': 'WWDWL',
 'Bournemouth': 'LWDLW',
 'Arsenal': 'WDLLL',
 'Burnley': 'LLLDW',
 'Man City': 'WWWWW',
 'Brighton': 'LDDLD',
 'Stoke': 'WLDDD',
 'Swansea': 'LLLLL',
 'West Brom': 'LWWDW',
 'Middlesbrough': 'LLLDW',
 'Hull': 'LLLDW',
 'Sunderland': 'LLLWL',
 'Norwich': 'LWLLL',
 'Aston Villa': 'LDLLL',
 'QPR': 'LWLLD'}

In [137]:
team_sorted_list=sorted(teams)
print(team_sorted_list)

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Hull', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Middlesbrough', 'Newcastle', 'Norwich', 'QPR', 'Southampton', 'Stoke', 'Sunderland', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves']

In [138]:
LFMFP=[]
for i,v in enumerate(teams.values(),start=0):
    LFMFP.append(teams[team_sorted_list[i]])
print(LFMFP)

[4, 1, 7, 3, 4, 6, 6, 10, 8, 9, 2, 4, 5, 15, 15, 2, 4, 10, 3, 4, 3, 6, 3, 0, 4, 4, 10, 10, 10]

In [139]:
WS2=[]
def get_2game_ws(string):
    if string[-2:] == 'WW':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    WS2.append(get_2game_ws(string))
print(WS2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [140]:
WS4=[]
def get_4game_ws(string):
    if string[-4:] == 'WWWW':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    WS4.append(get_4game_ws(string))
print(WS4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [141]:
LS2=[]
def get_2game_ls(string):
    if string[-2:] == 'LL':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    LS2.append(get_2game_ls(string))
print(LS2)

[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [142]:
LS4=[]
def get_4game_ls(string):
    if string[-4:] == 'LLLL':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    LS4.append(get_4game_ls(string))
print(LS4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [143]:
matches_dict = {}
win_dict = {}

home_t = df['HomeTeam']
away_t = df['AwayTeam']

for x in df.HomeTeam:
    if x in matches_dict.keys():
        matches_dict[x] = matches_dict[x] + 1
    else:
        matches_dict[x] = 1
        
        
for x in df.AwayTeam:
    if x in matches_dict.keys():
        matches_dict[x] = matches_dict[x] + 1
    else:
        matches_dict[x] = 1  
        
draw_count = 0        
        
for i, x in enumerate(df.FTR, start=0):
    if x == 'H':
        if home_t[i] in win_dict.keys():
            win_dict[home_t[i]] = win_dict[home_t[i]] + 1
        else:
            win_dict[home_t[i]] = 1
            
    if x == 'A':
        if away_t[i] in win_dict.keys():
            win_dict[away_t[i]] = win_dict[away_t[i]] + 1
        else:
            win_dict[away_t[i]] = 1
    if x == 'D':
        draw_count += 1
    
        

print(f'Draw: {draw_count}')

Draw: 454

In [144]:
matches_dict

{'Arsenal': 190,
 'Leicester': 190,
 'Man United': 190,
 'QPR': 38,
 'Stoke': 152,
 'West Brom': 152,
 'West Ham': 190,
 'Liverpool': 190,
 'Newcastle': 152,
 'Burnley': 152,
 'Aston Villa': 76,
 'Chelsea': 190,
 'Crystal Palace': 190,
 'Everton': 190,
 'Southampton': 190,
 'Swansea': 152,
 'Hull': 76,
 'Sunderland': 114,
 'Tottenham': 190,
 'Man City': 190,
 'Bournemouth': 152,
 'Norwich': 38,
 'Watford': 152,
 'Middlesbrough': 38,
 'Brighton': 76,
 'Huddersfield': 76,
 'Fulham': 38,
 'Wolves': 38,
 'Cardiff': 38}

In [145]:
win_dict

{'Arsenal': 105,
 'Swansea': 48,
 'Hull': 17,
 'Aston Villa': 13,
 'Tottenham': 110,
 'Liverpool': 107,
 'Man City': 130,
 'Chelsea': 110,
 'West Ham': 65,
 'Stoke': 47,
 'QPR': 8,
 'Southampton': 64,
 'Leicester': 73,
 'Everton': 68,
 'Man United': 101,
 'Crystal Palace': 61,
 'West Brom': 39,
 'Sunderland': 22,
 'Newcastle': 43,
 'Burnley': 43,
 'Norwich': 9,
 'Bournemouth': 47,
 'Watford': 48,
 'Middlesbrough': 5,
 'Huddersfield': 12,
 'Brighton': 18,
 'Fulham': 7,
 'Wolves': 16,
 'Cardiff': 10}

In [146]:
import math
win_per=[]
for i in team_sorted_list:
    win_per.append(math.ceil((win_dict[i]/matches_dict[i])*100))
    
print(win_per)

[56, 18, 31, 24, 29, 27, 58, 33, 36, 19, 16, 23, 39, 57, 69, 54, 14, 29, 24, 22, 34, 31, 20, 32, 58, 32, 26, 35, 43]

In [147]:
import math
c=[]
s=[]
st=[]
g=[]
for i in team_sorted_list:
    c.append(math.ceil(last_5_C[i]/5))
    s.append(math.ceil(last_5_S[i]/5))
    st.append(math.ceil(last_5_ST[i]/5))
    g.append(math.ceil(last_5_G[i]/5))

In [148]:
table['Corners']=c
table['Shoots']=s
table['SOT']=st
table['Goals']=g
table['WN_%']=win_per
table['LFMFP']=LFMFP
table['WS2']=WS2
table['LS2']=LS2
table['WS4']=WS4
table['LS4']=LS4

In [149]:
li=[70,17,45,36,40,34,72,49,54,26,16,34,52,97,98,66,28,45,34,30,39,33,24,33,71,50,31,52,57]
table['LSLP']=li
table

,Team,HAS,AAS,HDS,ADS,HGS,AGS,HGC,AGC,Corners,Shoots,SOT,Goals,WN_%,LFMFP,WS2,LS2,WS4,LS4,LSLP
0,Arsenal,1.421703,1.364244,0.686580,0.968407,207,153,77,141,8,14,5,2,56,4,0,1,0,0,70
1,Aston Villa,0.549451,0.579581,1.337494,1.253434,32,26,60,73,4,8,3,1,18,1,0,1,0,0,17
2,Bournemouth,0.978709,0.969683,1.315203,1.262019,114,87,118,147,5,15,7,3,31,7,0,0,0,0,45
3,Brighton,0.738324,0.579581,1.181453,1.047390,43,26,53,61,4,8,2,1,24,3,0,0,0,0,36
4,Burnley,0.686813,0.757914,1.003121,1.073146,80,68,90,125,3,9,4,1,29,4,0,0,0,0,40
5,Cardiff,0.721154,0.579581,1.694160,1.064560,21,13,38,31,5,13,5,2,27,6,0,0,0,0,34
6,Chelsea,1.318681,1.337494,0.748997,0.762363,192,150,84,111,6,16,6,2,58,6,0,0,0,0,72
7,Crystal Palace,0.769231,1.069996,1.114579,1.016484,112,120,125,148,4,14,5,3,33,10,0,0,0,0,49
8,Everton,1.112637,0.936246,0.980829,0.982143,162,105,110,143,7,17,6,2,36,8,0,0,0,0,54
9,Fulham,0.755495,0.534998,1.604993,1.545330,22,12,36,45,6,12,4,1,19,9,1,0,0,0,26
10,Huddersfield,0.446429,0.534998,1.248328,1.339286,26,24,56,78,3,9,3,1,16,2,0,1,0,0,16
11,Hull,0.807005,0.512706,1.315203,1.236264,47,23,59,72,6,11,3,1,23,4,0,0,0,0,34
12,Leicester,0.982143,1.123495,0.954079,1.064560,143,126,107,155,5,13,6,1,39,5,0,0,0,0,52
13,Liverpool,1.428571,1.408827,0.713330,0.824176,208,158,80,120,6,16,6,3,57,15,1,0,1,0,97
14,Man City,1.689560,1.685243,0.695497,0.618132,246,189,78,90,6,18,6,2,69,15,1,0,1,0,98
15,Man United,1.133242,1.185912,0.624164,0.776099,165,133,70,113,6,15,5,1,54,2,0,1,0,0,66
16,Middlesbrough,0.583791,0.445831,1.025412,1.030220,17,10,23,30,4,9,3,1,14,4,0,0,0,0,28
17,Newcastle,0.884272,0.691039,1.036558,1.116071,103,62,93,130,4,13,5,3,29,10,1,0,0,0,45
18,Norwich,0.892857,0.579581,1.337494,1.270604,26,13,30,37,7,14,4,1,24,3,0,1,0,0,34
19,QPR,0.789835,0.847080,1.069996,1.682692,23,19,24,49,5,13,4,1,22,4,0,0,0,0,30
20,Southampton,0.961538,0.855996,0.998663,0.899725,140,96,112,131,7,14,4,2,34,3,0,0,0,0,39
21,Stoke,0.841346,0.746768,1.114579,1.064560,98,67,100,124,2,8,4,1,31,6,0,0,0,0,33
22,Sunderland,0.629579,0.787636,1.203745,1.179029,55,53,81,103,5,11,4,1,20,3,0,0,0,0,24
23,Swansea,0.781250,0.780205,1.114579,1.090316,91,70,100,127,5,13,5,1,32,0,0,1,0,1,33
24,Tottenham,1.284341,1.489077,0.713330,0.748626,187,167,80,109,5,15,5,1,58,4,0,0,0,0,71
25,Watford,0.841346,0.869371,1.192599,1.150412,98,78,107,134,5,14,5,1,32,4,0,0,0,0,50
26,West Brom,0.789835,0.601872,1.148016,0.884272,92,54,103,103,4,10,3,1,26,10,0,0,0,0,31
27,West Ham,0.920330,1.087829,1.141329,1.078297,134,122,128,157,6,16,6,3,35,10,0,0,0,0,52
28,Wolves,0.961538,0.847080,0.936246,0.858516,28,19,21,25,7,14,4,2,43,10,0,0,0,0,57

In [315]:
#Extract necessary features from the data file
feature_table = df

#Full Time Result(FTR), Home Shots on Target(HST), Away Shots on Target(AST), Home Corners(HC), Away Corners(AC)
feature_table = feature_table[['HomeTeam','AwayTeam','FTR']]

#Home Attacking Strength(HAS), Home Defensive Strength(HDS), Away Attacking Strength(AAS), Away Defensive Strength(ADS)
f_HAS = []
f_HDS = []
f_AAS = []
f_ADS = []
f_HGS = []
f_AGS = []
f_HGC = []
f_AGC = []

LSLPH=[]
LSLPA=[]

WNPH=[]
WNPA=[]

LFMFPH=[]
LFMFPA=[]

WS2H=[]
WS2A=[]

WS4H=[]
WS4A=[]

LS2H=[]
LS2A=[]


LS4H=[]
LS4A=[]

# HS=[]
# AS=[]

# HC=[]
# AC=[]

# HST=[]
# AST=[]

HG=[]
AG=[]

for index,row in feature_table.iterrows():
    f_HAS.append(table[table['Team'] == row['HomeTeam']]['HAS'].values[0])
    f_HDS.append(table[table['Team'] == row['HomeTeam']]['HDS'].values[0])
    f_HGS.append(table[table['Team'] == row['HomeTeam']]['HGS'].values[0])
    f_HGC.append(table[table['Team'] == row['HomeTeam']]['HGC'].values[0])
    LSLPH.append(table[table['Team'] == row['HomeTeam']]['LSLP'].values[0])
    WNPH.append(table[table['Team'] == row['HomeTeam']]['WN_%'].values[0])
    LFMFPH.append(table[table['Team'] == row['HomeTeam']]['LFMFP'].values[0])
    WS2H.append(table[table['Team'] == row['HomeTeam']]['WS2'].values[0])
    WS4H.append(table[table['Team'] == row['HomeTeam']]['WS4'].values[0])
    LS2H.append(table[table['Team'] == row['HomeTeam']]['LS2'].values[0])
    LS4H.append(table[table['Team'] == row['HomeTeam']]['LS4'].values[0])
#     HS.append(table[table['Team'] == row['HomeTeam']]['Shoots'].values[0])
#     HST.append(table[table['Team'] == row['HomeTeam']]['SOT'].values[0])
#     HC.append(table[table['Team'] == row['HomeTeam']]['Corners'].values[0])
    HG.append(table[table['Team'] == row['HomeTeam']]['Goals'].values[0])
    
    
    
    f_AAS.append(table[table['Team'] == row['AwayTeam']]['AAS'].values[0])
    f_ADS.append(table[table['Team'] == row['AwayTeam']]['ADS'].values[0])
    f_AGS.append(table[table['Team'] == row['AwayTeam']]['AGS'].values[0])
    f_AGC.append(table[table['Team'] == row['AwayTeam']]['AGC'].values[0])
    LSLPA.append(table[table['Team'] == row['AwayTeam']]['LSLP'].values[0])
    WNPA.append(table[table['Team'] == row['AwayTeam']]['WN_%'].values[0])
    LFMFPA.append(table[table['Team'] == row['AwayTeam']]['LFMFP'].values[0])
    WS2A.append(table[table['Team'] == row['AwayTeam']]['WS2'].values[0])
    WS4A.append(table[table['Team'] == row['AwayTeam']]['WS4'].values[0])
    LS2A.append(table[table['Team'] == row['AwayTeam']]['LS2'].values[0])
    LS4A.append(table[table['Team'] == row['AwayTeam']]['LS4'].values[0])
#     AS.append(table[table['Team'] == row['AwayTeam']]['Shoots'].values[0])
#     AST.append(table[table['Team'] == row['AwayTeam']]['SOT'].values[0])
#     AC.append(table[table['Team'] == row['AwayTeam']]['Corners'].values[0])
    AG.append(table[table['Team'] == row['AwayTeam']]['Goals'].values[0])
  
feature_table['HAS'] = f_HAS
feature_table['HDS'] = f_HDS
feature_table['AAS'] = f_AAS
feature_table['ADS'] = f_ADS
feature_table['HGS'] = f_HGS
feature_table['AGS'] = f_AGS
feature_table['HGC'] = f_HGC
feature_table['AGC'] = f_AGC

# feature_table['HS'] = HS
feature_table['HG'] = HG
# feature_table['HC'] = HC
# feature_table['HST'] =HST
# feature_table['AS'] = AS
feature_table['AG'] = AG
# feature_table['AC'] = AC
# feature_table['AST'] =AST

feature_table['LSLPH'] = LSLPH
feature_table['LSLPA'] = LSLPA
feature_table['WNPH'] = WNPH
feature_table['WNPA'] = WNPA
feature_table['LFMFPH'] = LFMFPH
feature_table['LFMFPA'] = LFMFPA
feature_table['WS2H'] = WS2H
feature_table['WS4H'] = WS4H
feature_table['WS2A'] = WS2A
feature_table['WS4A'] = WS4A
feature_table['LS2H'] = LS2H
feature_table['LS4H'] = LS4H
feature_table['LS2A'] = LS2A
feature_table['LS4A'] = LS4A

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [316]:
feature_table.head()

,HomeTeam,AwayTeam,FTR,HAS,HDS,AAS,ADS,HGS,AGS,HGC,...,LFMFPH,LFMFPA,WS2H,WS4H,WS2A,WS4A,LS2H,LS4H,LS2A,LS4A
0,Arsenal,Crystal Palace,H,1.421703,0.686580,1.069996,1.016484,207,120,77,...,4,10,0,0,0,0,1,0,0,0
1,Leicester,Everton,D,0.982143,0.954079,0.936246,0.982143,143,105,107,...,5,8,0,0,0,0,0,0,0,0
2,Man United,Swansea,A,1.133242,0.624164,0.780205,1.090316,165,70,70,...,2,0,0,0,0,0,1,0,1,1
3,QPR,Hull,A,0.789835,1.069996,0.512706,1.236264,23,23,24,...,4,4,0,0,0,0,0,0,0,0
4,Stoke,Aston Villa,A,0.841346,1.114579,0.579581,1.253434,98,26,100,...,6,1,0,0,0,0,0,0,1,0

In [317]:
data=pd.read_csv('five_season_soccer_clean.csv')
data.head()

   Unnamed: 0    HomeTeam        AwayTeam  H2H_HW  H2H_AW  Drawn
0           0     Arsenal  Crystal Palace       6       2      2
1           1   Leicester         Everton       4       4      2
2           2  Man United         Swansea       4       3      1
3           3         QPR            Hull       0       2      0
4           4       Stoke     Aston Villa       3       1      0

In [318]:
H2H_HW=[]
H2H_AW=[]
Drawn=[]
for i,row in feature_table.iterrows():
    x=data[((data['HomeTeam']==row['HomeTeam'])&(data['AwayTeam']==row['AwayTeam'])) | ((data['HomeTeam']==row['AwayTeam'])&(data['AwayTeam']==row['HomeTeam']))]
    
    def check():
        return row['HomeTeam']==x['HomeTeam']
       
    if check().bool():
        H2H_HW.append(x['H2H_HW'].values[0])
        
        H2H_AW.append(x['H2H_AW'].values[0])
        
        Drawn.append(x['Drawn'].values[0])
        
           
    else:
        H2H_HW.append(x['H2H_AW'].values[0])
        
        H2H_AW.append(x['H2H_HW'].values[0])
       
        Drawn.append(x['Drawn'].values[0])
       
            

feature_table['H2h_HW']=H2H_HW
feature_table['H2h_AW']=H2H_AW
feature_table['Drawn']=Drawn

In [319]:
feature_table

,HomeTeam,AwayTeam,FTR,HAS,HDS,AAS,ADS,HGS,AGS,HGC,...,WS4H,WS2A,WS4A,LS2H,LS4H,LS2A,LS4A,H2h_HW,H2h_AW,Drawn
0,Arsenal,Crystal Palace,H,1.421703,0.686580,1.069996,1.016484,207,120,77,...,0,0,0,1,0,0,0,6,2,2
1,Leicester,Everton,D,0.982143,0.954079,0.936246,0.982143,143,105,107,...,0,0,0,0,0,0,0,4,4,2
2,Man United,Swansea,A,1.133242,0.624164,0.780205,1.090316,165,70,70,...,0,0,0,1,0,1,1,4,3,1
3,QPR,Hull,A,0.789835,1.069996,0.512706,1.236264,23,23,24,...,0,0,0,0,0,0,0,0,2,0
4,Stoke,Aston Villa,A,0.841346,1.114579,0.579581,1.253434,98,26,100,...,0,0,0,0,0,1,0,3,1,0
5,West Brom,Sunderland,D,0.789835,1.148016,0.787636,1.179029,92,53,103,...,0,0,0,0,0,0,0,2,0,4
6,West Ham,Tottenham,A,0.920330,1.141329,1.489077,0.748626,134,167,128,...,0,0,0,0,0,0,0,3,5,2
7,Liverpool,Southampton,H,1.428571,0.713330,0.855996,0.899725,208,96,80,...,1,0,0,0,0,0,0,6,1,3
8,Newcastle,Man City,A,0.884272,1.036558,1.685243,0.618132,103,189,93,...,0,1,1,0,0,0,0,1,6,1
9,Burnley,Chelsea,A,0.686813,1.003121,1.337494,0.762363,80,150,90,...,0,0,0,0,0,0,0,1,4,3
10,Aston Villa,Newcastle,D,0.549451,1.337494,0.691039,1.116071,32,62,60,...,0,1,0,1,0,0,0,0,1,3
11,Chelsea,Leicester,H,1.318681,0.748997,1.123495,1.064560,192,126,84,...,0,0,0,0,0,0,0,5,2,3
12,Crystal Palace,West Ham,A,0.769231,1.114579,1.087829,1.078297,112,122,125,...,0,0,0,0,0,0,0,1,5,4
13,Everton,Arsenal,D,1.112637,0.980829,1.364244,0.968407,162,153,110,...,0,0,0,0,0,1,0,2,7,1
14,Southampton,West Brom,D,0.961538,0.998663,0.601872,0.884272,140,54,112,...,0,0,0,0,0,0,0,4,2,2
15,Swansea,Burnley,H,0.781250,1.114579,0.757914,1.073146,91,68,100,...,0,0,0,1,1,0,0,5,1,0
16,Hull,Stoke,D,0.807005,1.315203,0.746768,1.064560,47,67,59,...,0,0,0,0,0,0,0,0,3,1
17,Sunderland,Man United,D,0.629579,1.203745,1.185912,0.776099,55,133,81,...,0,0,0,0,0,1,0,1,4,1
18,Tottenham,QPR,H,1.284341,0.713330,0.847080,1.682692,187,19,80,...,0,0,0,0,0,0,0,2,0,0
19,Man City,Liverpool,H,1.689560,0.695497,1.408827,0.824176,246,158,78,...,1,1,1,0,0,0,0,3,5,2
20,Burnley,Man United,D,0.686813,1.003121,1.185912,0.776099,80,133,90,...,0,0,0,0,0,1,0,0,4,4
21,Everton,Chelsea,A,1.112637,0.980829,1.337494,0.762363,162,150,110,...,0,0,0,0,0,0,0,2,5,3
22,Man City,Stoke,A,1.689560,0.695497,0.746768,1.064560,246,67,78,...,1,0,0,0,0,0,0,5,2,1
23,Newcastle,Crystal Palace,D,0.884272,1.036558,1.069996,1.016484,103,120,93,...,0,0,0,0,0,0,0,2,2,4
24,QPR,Sunderland,H,0.789835,1.069996,0.787636,1.179029,23,53,24,...,0,0,0,0,0,0,0,2,0,0
25,Swansea,West Brom,H,0.781250,1.114579,0.601872,0.884272,91,54,100,...,0,0,0,1,1,0,0,4,2,2
26,West Ham,Southampton,A,0.920330,1.141329,0.855996,0.899725,134,96,128,...,0,0,0,0,0,0,0,5,4,1
27,Aston Villa,Hull,H,0.549451,1.337494,0.512706,1.236264,32,23,60,...,0,0,0,1,0,0,0,1,1,0
28,Leicester,Arsenal,D,0.982143,0.954079,1.364244,0.968407,143,153,107,...,0,0,0,0,0,1,0,2,6,2
29,Tottenham,Liverpool,A,1.284341,0.713330,1.408827,0.824176,187,158,80,...,0,1,1,0,0,0,0,1,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,Liverpool,Huddersfield,H,1.428571,0.713330,0.534998,1.339286,208,24,80,...,1,0,0,0,0,1,0,4,0,0
1871,Brighton,Newcastle,D,0.738324,1.181453,0.691039,1.116071,43,62,53,...,0,1,0,0,0,0,0,2,0,2
1872,Crystal Palace,Everton,D,0.769231,1.114579,0.936246,0.982143,112,105,125,...,0,0,0,0,0,0,0,1,4,5
1873,Fulham,Cardiff,H,0.755495,1.604993,0.579581,1.064560,22,13,36,...,0,0,0,0,0,0,0,1,1,0
1874,Southampton,Bournemouth,D,0.961538,0.998663,0.969683,1.262019,140,87,112,...,0,0,0,0,0,0,0,3,1,4
1875,Tottenham,West Ham,A,1.284341,0.713330,1.087829,1.078297,187,122,80,...,0,0,0,0,0,0,0,5,3,2
1876,Watford,Wolves,A,0.841346,1.192599,0.847080,0.858516,98,19,107,...,0,0,0,0,0,0,0,1,1,0
1877,Burnley,Man City,A,0.686813,1.003121,1.685243,0.618132,80,189,90,...,0,1,1,0,0,0,0,1,5,2
1878,Leicester,Arsenal,H,0.982143,0.954079,1.364244,0.968407,143,153,107,...,0,0,0,0,0,1,0,2,6,2
1879,Man United,Chelsea,D,1.133242,0.624164,1.337494,0.762363,165,150,70,...,0,0,0,1,0,0,0,2,3,5
1880,Everton,Burnley,H,1.112637,0.980829,0.757914,1.073146,162,68,110,...,0,0,0,0,0,0,0,5,3,0
1881,Bournemouth,Tottenham,H,0.978709,1.315203,1.489077,0.748626,114,167,118,...,0,0,0,0,0,0,0,1,6,1
1882,Cardiff,Crystal Palace,A,0.721154,1.694160,1.069996,1.016484,21,120,38,...,0,0,0,0,0,0,0,0,1,1
1883,Newcastle,Liverpool,A,0.884272,1.036558,1.408827,0.824176,103,158,93,...,0,1,1,0,0,0,0,2,4,2
1884,West Ham,Southampton,H,0.920330,1.141329,0.855996,0.899725,134,96,128,...,0,0,0,0,0,0,0,5,4,1
1885,Wolves,Fulham,H,0.961538,0.936246,0.534998,1.545330,28,12,21,...,0,1,0,0,0,0,0,1,0,1
1886,Arsenal,Brighton,D,1.421703,0.686580,0.579581,1.047390,207,26,77,...,0,0,0,1,0,0,0,1,1,2
1887,Chelsea,Watford,H,1.318681,0.748997,0.869371,1.150412,192,78,84,...,0,0,0,0,0,0,0,5,1,2
1888,Huddersfield,Man United,D,0.446429,1.248328,1.185912,0.776099,26,133,56,...,0,0,0,1,0,1,0,1,2,1
1889,Man City,Leicester,H,1.689560,0.695497,1.123495,1.064560,246,126,78,...,1,0,0,0,0,0,0,6,3,1
1890,Brighton,Man City,A,0.738324,1.181453,1.685243,0.618132,43,189,53,...,0,1,1,0,0,0,0,0,4,0
1891,Burnley,Arsenal,A,0.686813,1.003121,1.364244,0.968407,80,153,90,...,0,0,0,0,0,1,0,0,8,0
1892,Crystal Palace,Bournemouth,H,0.769231,1.114579,0.969683,1.262019,112,87,125,...,0,0,0,0,0,0,0,2,2,4
1893,Fulham,Newcastle,A,0.755495,1.604993,0.691039,1.116071,22,62,36,...,0,1,0,0,0,0,0,0,1,1
1894,Leicester,Chelsea,D,0.982143,0.954079,1.337494,0.762363,143,150,107,...,0,0,0,0,0,0,0,2,5,3
1895,Liverpool,Wolves,H,1.428571,0.713330,0.847080,0.858516,208,19,80,...,1,0,0,0,0,0,0,2,0,0
1896,Man United,Cardiff,A,1.133242,0.624164,0.579581,1.064560,165,13,70,...,0,0,0,1,0,0,0,1,1,0
1897,Southampton,Huddersfield,D,0.961538,0.998663,0.534998,1.339286,140,24,112,...,0,0,0,0,0,1,0,1,0,3
1898,Tottenham,Everton,D,1.284341,0.713330,0.936246,0.982143,187,105,80,...,0,0,0,0,0,0,0,6,0,4
1899,Watford,West Ham,A,0.841346,1.192599,1.087829,1.078297,98,122,107,...,0,0,0,0,0,0,0,4,3,1

In [320]:
#Function to transform FTR into numeric data type
def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [321]:
feature_table["Result"] = feature_table.apply(lambda row: transformResult(row),axis=1)

feature_table.tail()

,HomeTeam,AwayTeam,FTR,HAS,HDS,AAS,ADS,HGS,AGS,HGC,...,WS2A,WS4A,LS2H,LS4H,LS2A,LS4A,H2h_HW,H2h_AW,Drawn,Result
1895,Liverpool,Wolves,H,1.428571,0.713330,0.847080,0.858516,208,19,80,...,0,0,0,0,0,0,2,0,0,1
1896,Man United,Cardiff,A,1.133242,0.624164,0.579581,1.064560,165,13,70,...,0,0,1,0,0,0,1,1,0,-1
1897,Southampton,Huddersfield,D,0.961538,0.998663,0.534998,1.339286,140,24,112,...,0,0,0,0,1,0,1,0,3,0
1898,Tottenham,Everton,D,1.284341,0.713330,0.936246,0.982143,187,105,80,...,0,0,0,0,0,0,6,0,4,0
1899,Watford,West Ham,A,0.841346,1.192599,1.087829,1.078297,98,122,107,...,0,0,0,0,0,0,4,3,1,-1

In [329]:
x=feature_table.iloc[:,3:30]
y=feature_table.iloc[:,30]

In [330]:
from sklearn import preprocessing
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
x=minmax.fit(x).transform(x)
x

array([[0.78453039, 0.05833333, 0.50359712, ..., 0.75      , 0.25      ,
        0.33333333],
       [0.43093923, 0.30833333, 0.39568345, ..., 0.5       , 0.5       ,
        0.33333333],
       [0.55248619, 0.        , 0.26978417, ..., 0.5       , 0.375     ,
        0.16666667],
       ...,
       [0.41436464, 0.35      , 0.07194245, ..., 0.125     , 0.        ,
        0.5       ],
       [0.67403315, 0.08333333, 0.39568345, ..., 0.75      , 0.        ,
        0.66666667],
       [0.31767956, 0.53125   , 0.51798561, ..., 0.5       , 0.375     ,
        0.16666667]])

In [331]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [336]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
# m =SVC(C= 10, gamma= 0.2, kernel ='rbf')
m =SVC(C= 1,kernel ='linear')
# m=KNeighborsClassifier()
# m =MultinomialNB()
# m= LogisticRegression()

m.fit(X_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [337]:
y_pred=m.predict(X_test)
y_pred

array([-1,  1, -1, -1,  0,  1, -1, -1, -1, -1,  1,  1, -1, -1, -1, -1, -1,
        1, -1, -1,  1,  1,  1,  0, -1,  1,  1, -1,  0, -1, -1, -1, -1, -1,
        1, -1,  1,  1,  1, -1, -1,  1,  1,  1, -1,  1,  0, -1,  1,  1,  1,
       -1,  0,  0,  0,  1,  1,  1,  1, -1,  1, -1, -1,  0, -1, -1,  0,  1,
        1,  1,  1,  0,  1,  1,  0,  0,  1,  1,  1,  1,  0, -1,  1,  1,  0,
        0,  0,  1, -1,  1,  1, -1,  1,  1,  0,  0,  1, -1,  1,  1,  1, -1,
       -1,  1, -1,  1, -1,  0, -1, -1, -1, -1,  0,  0, -1,  1,  1,  0, -1,
        1,  1, -1, -1,  1, -1,  1,  1,  1,  1, -1,  1, -1, -1,  1,  1,  1,
        1,  0,  1,  1, -1, -1, -1,  0,  0,  1, -1,  1, -1, -1, -1,  1,  0,
        1,  0, -1,  1, -1,  1, -1, -1,  1, -1,  1,  1,  1, -1,  0,  1, -1,
       -1,  0,  1,  1,  1,  0,  1,  1,  1,  1,  1,  0, -1,  1, -1, -1, -1,
        1,  0,  1,  0,  1, -1,  1,  1, -1, -1, -1,  1,  1,  1,  1,  1,  1,
       -1,  1, -1,  1, -1,  1, -1,  1, -1,  0, -1, -1,  1,  1,  0,  0,  0,
        1, -1,  1,  1,  0,  1, -1, -1,  1,  1,  1,  1,  1,  1,  0,  1,  1,
        1,  1,  0,  1,  1,  0,  1, -1, -1,  1, -1,  1,  0, -1, -1,  1,  1,
        1,  1,  1,  0, -1, -1,  1,  1,  1, -1, -1,  1,  1, -1,  1,  0, -1,
        0,  1,  1,  0, -1, -1, -1,  1,  1,  1,  1, -1, -1,  1,  0, -1,  0,
       -1, -1,  1,  1,  1,  1,  1, -1, -1, -1,  1,  1,  1, -1, -1,  1,  0,
        1,  1, -1,  1, -1, -1,  1, -1, -1, -1,  1, -1, -1,  1, -1, -1,  1,
        1,  1, -1,  0, -1, -1, -1,  1,  1,  1, -1,  1,  1, -1, -1,  1,  1,
       -1, -1, -1, -1,  0, -1,  1,  1,  1,  0, -1,  1,  1,  1,  1,  1, -1,
       -1, -1,  1,  0,  1,  1,  1,  1, -1, -1,  1, -1,  1,  1, -1,  1, -1,
        1,  1,  0,  1, -1,  0], dtype=int64)

In [338]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

[[ 76  30  35]
 [ 10  30  15]
 [ 34  27 123]]
              precision    recall  f1-score   support

          -1       0.63      0.54      0.58       141
           0       0.34      0.55      0.42        55
           1       0.71      0.67      0.69       184

    accuracy                           0.60       380
   macro avg       0.56      0.58      0.56       380
weighted avg       0.63      0.60      0.61       380

In [339]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.6026315789473684

In [212]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2

In [213]:
# bestf=SelectKBest(score_func=chi2,k=10)
# fit=bestf.fit(x,y)

In [214]:
# dfs=pd.DataFrame(fit.scores_)
# dfc=pd.DataFrame(x.columns)

In [254]:
# fs=pd.concat([dfc,dfs],axis=1)
# fs.columns=['spec','score']

In [253]:
# fs

In [252]:
# print(fs.nlargest(10,'score'))

In [251]:
# temp=feature_table[['WNPA','WNPH','LSLPA','LSLPH','H2h_AW','H2h_HW','Drawn','HGS','AGS','AGC','HGC','HS','AS','HST','AST','Result']]
# temp.tail()

In [232]:
# x=temp.iloc[:,:-1]
# y=temp.iloc[:,15]

In [250]:
# from sklearn import preprocessing
# minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
# x=minmax.fit(x).transform(x)
# x

In [249]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [248]:
# from sklearn.svm import SVC
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.linear_model import LogisticRegression
# # m =SVC(C= 100, gamma= 0.1, kernel ='rbf')
# # m =SVC(C= 1,kernel ='linear')
# # m=KNeighborsClassifier()
# # m =MultinomialNB()
# m= LogisticRegression()

# m.fit(X_train,y_train)

In [247]:
# y_pred=m.predict(X_test)
# y_pred

In [246]:
# from sklearn.metrics import confusion_matrix,classification_report
# print(confusion_matrix(y_pred,y_test))
# print(classification_report(y_pred,y_test))

In [245]:
# from sklearn.metrics import accuracy_score
# accuracy=accuracy_score(y_test,y_pred)
# accuracy

In [340]:
# from sklearn.model_selection import GridSearchCV

# parameters = [{'C': [1, 10, 100], 'kernel': ['linear']},
#               {'C': [1, 10, 100], 'kernel': ['rbf'], 'gamma': [0.1,0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]

In [341]:
# grid_search = GridSearchCV(estimator = m,
#                            param_grid = parameters,
#                            scoring = 'accuracy',
#                            cv = 10,
#                            n_jobs = -1)

# grid_search = grid_search.fit(X_train, y_train)

In [342]:
# print(grid_search.best_score_)

0.6171052631578947

In [345]:
# print(grid_search.best_params_)

{'C': 1, 'kernel': 'linear'}